{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.css">


</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href=""><i class="fa-solid fa-note-sticky"></i>T-Mart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mn' %}"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pd' %}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ct' %}"><i class="fa-solid fa-display"></i>Categories</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rgr' %}"><i class="fa-regular fa-user"></i> Cashiers</a>
            </li>   
       
          </ul>
      
          <!-- Separate div for Logout link with ml-auto class -->
          <div class="ml-auto">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ln' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
              </li>
            </ul>
          </div>
        </div>  
      </nav>
</body>
</html>
