{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Category Update</title>
</head>
<style>
    body{
        background: url('{% static "images/aaa.jpg" %}');background-size: cover;
    }
    .container.mt-12{
        border-radius: 20px;
        padding-top: 250px;
    }
</style>
<body>
    <div class="container mt-12">
        <div class="card col-md-10 mx-auto shadow-lg p-3">
            <div>
                <h4>Category Update</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="namec" class="form-control my-2" value="{{ Category.name }}">
                    <br>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'ct' %}" class="form-control btn btn-outline-info">Back</a>
                        </div>
                        
                        <div class="col">
                            <input type="submit" value="Update" class="form-control btn btn-outline-success">
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>